<div id="app">
   <div class="container">
     <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
       <label for="new-task">Ajouter une tâche</label>
       <input id="new-task" formControlName="todo" type="text">
       <button>Add</button>
     </form>

    <h3>Tâches à faire</h3>
    <ul id="incomplete-tasks">
      <li *ngFor="let todo of uncheckedTodos">
        <input type="checkbox" (change)="checkTodo(todo.id, true)">
        <label>{{ todo.todo }}</label>
        <button class="edit" (click)="edit(todo.id, todo.todo)">Edit</button>
        <button class="delete" (click)="delete(todo.id)">Delete</button>
      </li>
    </ul>

    <h3>Tâches complétées</h3>
    <ul id="completed-tasks">
      <li *ngFor="let todo of checkedTodos">
        <input type="checkbox" (change)="checkTodo(todo.id, false)" checked>
        <label>{{ todo.todo }}</label>
        <button class="edit" (click)="edit(todo.id, todo.todo)">Edit</button>
        <button class="delete" (click)="delete(todo.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
