<div id="app">
  <div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <label for="new-task">Ajouter un rappel</label>
      <input id="new-task" formControlName="todo" type="text">
      <input formControlName="date" type="date">
      <button>Add</button>
    </form>

    <h3>Rappels</h3>
    <ul id="incomplete-tasks">
      <li *ngFor="let reminder of uncheckedReminders">
        <input type="checkbox" (change)="checkReminder(reminder.id, true)">
        <label>{{ reminder.todo }}</label>
        <label>{{ reminder.date }}</label>
        <input type="text">
        <button class="delete" (click)="delete(reminder.id)">Delete</button>
      </li>
    </ul>

    <h3>Archives</h3>
    <ul id="completed-tasks">
      <li *ngFor="let reminder of checkedReminders">
        <input type="checkbox" (change)="checkReminder(reminder.id, false)" checked>
        <label>{{ reminder.todo }}</label>
        <label>{{ reminder.date }}</label>
        <input type="text">
        <button class="delete" (click)="delete(reminder.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
